:root {
  --color-background: #191919;
  --color-text-primary: #ffffff;
  --color-neutral-accent: #979797;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar-header {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--color-neutral-accent);
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.home-page {

  height: 100vh;
}

.home-page h1 {
  font-size: 3rem;
  margin-top: 8rem;
  padding: 2rem;
}