
/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



:root {

  --color-neutral: #ffffff;
  --color-neutral-100: #fafafa;
  --color-neutral-200: #f1f1f1;
  --color-dark: #191919;
  --color-dark-100: #000000;
  --color-neutral-accent: #979797;

  --color-primary: #D87D4A;
  --color-secondary: #FBAF85;

  --font-family: 'Manrope', sans-serif;

  --font-weight-regular: 400;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
}

body {

  /* width: 100vw; */
  font-family: var(--font-family);
}

button {
  padding-block: 1.25rem;
  padding-inline: 2.5rem;
  border: none;
}

/* CLASS COMPONENTS */

.filler-1 {
  margin-top: 1rem;
}

.filler-2 {
  margin-top: 2rem;
}

.filler-3 {
  margin-top: 3rem;
}

.filler-4 {
  margin-top: 4rem;
}

.filler-5 {
  margin-top: 5rem;
}

.filler-6 {
  margin-top: 6rem;
}

.filler-7 {
  margin-top: 7rem;
}

.filler-8 {
  margin-top: 8rem;
}

.filler-9 {
  margin-top: 9rem;
}

.filler-10 {
  margin-top: 10rem;
}

.filler-15 {
  margin-top: 15rem;
}

.filler-20 {
  margin-top: 20rem;
}

.space-1 > *{
  margin-top: .5rem;
}

.bg-dark {
  background-color: var(--color-dark);
}

.bg-light {
  background-color: var(--color-neutral);
}

.color-dark {
  color: var(--color-dark);
}

.color-light {
  color: var(--color-neutral);
}

.color-neutral-accent {
  color: var(--color-neutral-accent);
}


/* NAVBAR */

.navBar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--color-neutral-accent);
  position: fixed;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  font-weight: var(--font-weight-bold);
  z-index: 100;
}


/* HOME PAGE  optimized for mobile first*/
.home-page {
  width: 100vw;
}

.home-header {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  position: relative;
}

.home-header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  z-index: 2;
  position: absolute;
  top: 32%;
  margin-inline: 2rem;
}

.home-header-text :nth-child(1) {
  font-size: 16px;
  color: var(--color-neutral-accent);
  text-transform: uppercase;
  letter-spacing: .75rem;
}

.home-header-text :nth-child(2) {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.home-header-text :nth-child(3) {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-neutral-accent);
}

.home-header-text :nth-child(4) {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-neutral);
  background-color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: .15rem;
}

@media (min-width: 768px) {
  .home-header-text {
    z-index: 0;
  }
}

/* MOBILE MENU this frequents on mobile view. */

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 2rem;
}

.mobile-section {
  background-color: var(--color-neutral-200);
  position: relative;
  height: 11rem;
  width: 90vw;
  border-radius: 1rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

.mobile-section > :nth-child(1) {
position: absolute;
top: -40%;
left: 50%;
height: auto;
width: 10rem;
transform: translate(-50%, 0%);
}

.mobile-section :nth-child(2) {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.mobile-section :nth-child(3) {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* this is for the arrow svg next to SHOP */
.mobile-section :nth-child(3) :nth-child(1) {
  height: 1rem;
  width: 1rem;
}



/* PRODUCT AD */

.product-ad {
  display: grid;
  padding-inline: 1.25rem;
}

.product-ad .pa-section-one {
  background-color: var(--color-primary);
  background-image: url(./assets/home/desktop/pattern-circles.svg);
  background-size: cover;
  background-position: center;
  color: var(--color-neutral);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 3rem;
}

.pa-section-one :nth-child(1){
height: auto;
width: 10rem;
}



.product-ad .pa-section-two {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.product-ad .pa-section-three {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-neutral-accent);
}

.product-ad .pa-section-four {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-neutral);
  background-color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: .15rem;
}